* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #cec7ac;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.centerParentBox {
  width: 60%;
  height: 80%;
  background-color: #0084ff99;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* background-image: url("https://images.pexels.com/photos/30683185/pexels-photo-30683185/free-photo-of-dramatic-lightning-storm-in-south-africa.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-size: cover; */
}
.leftSide {
  width: 60%;
  height: 100%;
}

.bottomDetails {
  height: 100%;
  display: flex;
  align-items: end;
  gap: 30px;
  padding: 15px;
}
.timeDetails {
  display: flex;
  flex-direction: column;
}
.timeDetails span {
  font-size: 18px;
  margin-bottom: 10px;
  color: #cbcbcb;
  opacity: 0.8;
  letter-spacing: 2px;
}

.tempDetail span {
  font-size: 40px;
  color: #fa440d;
  opacity: 0.8;
  letter-spacing: 2px;
}

.rightSide {
  width: calc(100%-60%-10px);
  height: 100vh;
  background-color: rgba(47, 79, 79, 0.497);
  padding: 10px;
}
.weatherIcon {
  width: 270px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.482);
}
.weatherIcon span {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.749);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.searchBtn {
  margin-top: 10px;
}
.searchBtn input {
  all: unset;
  border-bottom: 1px solid rgba(255, 255, 255, 0.485);
  width: 80%;
  height: 30px;
  color: rgba(255, 255, 255, 0.746);
  font-size: 20px;
  padding: 0 10px;
}
.searchBtn button {
  all: unset;
  color: rgba(255, 255, 255, 0.583);
  margin-left: 10px;
  font-size: 20px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.587);
  letter-spacing: 2px;
  font-size: 15px;
}
.placeName {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeName span {
  font-size: 20px;
  color: #b0b0b0;
  letter-spacing: 2px;
}
.weatherDetails {
  margin-top: 20px;
}
.line {
  border-top: 1px solid rgba(255, 255, 255, 0.489);
}
.temp,
.humidity,
.visibility,
.windSpeed {
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
  letter-spacing: 2px;
}
